* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
}
html {
  font-size: 14px;
}
.wrapper {
  width: 100%;
}
#header {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #333;
  z-index: 1000;
}

.navbar {
  position: absolute;
  top: 60px;
  display: none;
  width: 100%;
  z-index: 1000;
}
.navbar ul {
  list-style: none;
  text-align: center;
}
.navbar ul li {
  width: 100%;
  height: 50px;
  background-color: #333;
}
.navbar ul li:hover {
  background-color: rgb(88, 88, 88);
}
.navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

#burguer-btn i {
  cursor: pointer;
  color: white;
  font-size: 35px;
}

.show {
  display: block;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: calc(100vh - 60px);
  background: url("../assets/hero.jpg");
  opacity: 100%;
  background-size: cover;
  color: white;
}
/*Overlay*/
#main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}
#main img,
.legend,
.title {
  z-index: 1;
}
.hero-img {
  width: 70%;
  border-radius: 50%;
}

.section {
  padding: 20px 10px;
}
.section .title {
  text-align: center;
}

#core {
  background-color: lightgray;
}
.tech_gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px;
}
.tech_gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  max-width: 300px;
  gap: 20px;
  padding: 20px;
}
.tech_gallery__item i {
  font-size: 120px;
}
.tech_gallery__item p {
  font-weight: 500;
}
.projects_gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  margin-top: 20px;
}
.projects_gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 30px;
}
.projects_gallery__item img {
  max-width: 300px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
#contact .title {
  color: white;
}
#contact address {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#creditsapp {
  background-color: rgb(219, 197, 240);
}
#comunidav {
  background-color: rgb(196, 196, 238);
}
#html {
  background-color: rgb(238, 157, 143);
}
#css {
  background-color: rgb(160, 186, 221);
}
#js {
  background-color: rgb(232, 233, 181);
}
#reactjs {
  background-color: #20232a;
}
#nodejs {
  background-color: #333;
}
#html i {
  color: rgb(255, 68, 0);
}
#css i {
  color: #0068ac;
}
#js i {
  color: #c4ad1a;
}
#reactjs i {
  color: #61dafb;
}
#nodejs i {
  color: #68a063;
}
#reactjs p,
#nodejs p {
  color: white;
}
a .fa-github {
  color: #333;
  font-size: 50px;
  transition: color 0.2s ease;
}
a .fa-github:hover {
  color: #444;
  font-size: 50px;
}
a .fa-linkedin,
a .fa-at {
  color: #0e76a8;
  font-size: 50px;
  transition: color 0.2s ease;
}
a .fa-linkedin:hover,
a .fa-at:hover {
  color: #0d6892;
}
.title {
  font-size: 1.5rem;
}
.legend {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .hero-img {
    width: 350px;
  }
  .section {
    padding: 20px 5%;
  }
  #burguer-btn {
    display: none;
  }
  .navbar {
    position: static;
    display: block;
    width: unset;
  }
  .navbar ul {
    display: flex;
    gap: 20px;
    width: unset;
  }
  .navbar ul li {
    width: unset;
    height: unset;
  }
  .navbar ul li a {
    width: unset;
    height: unset;
  }
  .navbar ul li a:hover {
    color: lightgray;
  }
  .navbar ul li:hover {
    background-color: unset;
  }
  .header__brand {
    width: 50px;
  }
  html {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section {
    padding: 40px 15%;
  }
  .projects_gallery__item {
    width: 45%;
  }
  .hero-img {
    width: 450px;
  }

  html {
    font-size: 18px;
  }
}
